<html>
	<body>
		<div th:fragment="body_text" class="jumbotron">
			<div class="page-header">
				<h1>Welcome to the Pet Clinic!</h1>
			</div>

			<p>
				This is the sample application for
				<a href="https://github.com/alexpdp7/v2f">v2f</a> which
				demonstrates how a CRUD application can be developed with just
				<a href="https://github.com/alexpdp7/v2f/blob/master/v2f-samples-petclinic/src/main/resources/db/migration/R__schema.sql">a
				little bit of some declarative SQL code</a>.
			</p>

			<p>
				The sections below link to each different list/detail view in
				the application. You can use them to list, edit and create new
				entities of each type.
			</p>
		</div>
	</body>
</html>
