<form th:if="${has_plain_text_search}" id="_plain_text_search_form">
	<input type="text" name="_plain_text_search" th:value="${_plain_text_search}"/>
	<input type="submit"/>
</form>

<table>
	<tr>
		<th>element</th>
		<th th:each="list_column : ${list_columns}" th:text="${list_column}">column</th>
	</tr>
	<tr th:each="row : ${rows}">
		<td>
			<a th:href="${row.link}" th:text="${row.asString}">Row as string</a>
		</td>
		<td th:each="list_column : ${list_columns}" th:text="${row.getListColumn(list_column)}">value</td>
	</tr>
</table>

<a th:href="${new_url}">new</a>
